<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.FundingCenterMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.FundingCenter" >
    <id column="funding_center_id" property="fundingCenterId" jdbcType="INTEGER" />
    <result column="funding_center_name" property="fundingCenterName" jdbcType="VARCHAR" />
    <result column="funding_center_address" property="fundingCenterAddress" jdbcType="VARCHAR" />
    <result column="funding_center_phone" property="fundingCenterPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    funding_center_id, funding_center_name, funding_center_address, funding_center_phone
  </sql>
  <select id="selectAllFundingCenter" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fundingCenter
  </select>
  <select id="selectFundingCenterByCenterId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from fundingCenter where funding_center_id = #{fundingCenterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fundingCenter
    where funding_center_id = #{fundingCenterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.FundingCenter" >
    insert into fundingCenter (funding_center_id, funding_center_name, 
      funding_center_address, funding_center_phone
      )
    values (#{fundingCenterId,jdbcType=INTEGER}, #{fundingCenterName,jdbcType=VARCHAR}, 
      #{fundingCenterAddress,jdbcType=VARCHAR}, #{fundingCenterPhone,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.stu.entity.FundingCenter" >
    update fundingCenter
    set funding_center_name = #{fundingCenterName,jdbcType=VARCHAR},
      funding_center_address = #{fundingCenterAddress,jdbcType=VARCHAR},
      funding_center_phone = #{fundingCenterPhone,jdbcType=VARCHAR}
    where funding_center_id = #{fundingCenterId,jdbcType=INTEGER}
  </update>
</mapper>