<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.GuardianMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.Guardian" >
    <id column="guardian_id" property="guardianId" jdbcType="INTEGER" />
    <result column="guardian_name" property="guardianName" jdbcType="VARCHAR" />
    <result column="guardian_identity" property="guardianIdentity" jdbcType="VARCHAR" />
    <result column="guardian_postal_code" property="guardianPostalCode" jdbcType="VARCHAR" />
    <result column="guardian_health" property="guardianHealth" jdbcType="VARCHAR" />
    <result column="guardian_tel" property="guardianTel" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="guardian_permanent_address" property="guardianPermanentAddress" jdbcType="VARCHAR" />
    <result column="user_identity" jdbcType="VARCHAR" property="userIdentity" />
  </resultMap>
  <resultMap id="UsersResultMap" type="com.stu.entity.Users">
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_identity" property="userIdentity" jdbcType="VARCHAR" />
    <result column="user_security_question" property="userSecurityQuestion" jdbcType="VARCHAR" />
    <result column="user_security_answer" property="userSecurityAnswer" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_famous_race_id" property="userFamousRaceId" jdbcType="INTEGER" />
    <result column="user_middle_school" property="userMiddleSchool" jdbcType="VARCHAR" />
    <result column="user_mail_box" property="userMailBox" jdbcType="VARCHAR" />
    <result column="user_qq" property="userQq" jdbcType="VARCHAR" />
    <result column="user_weChat" property="userWechat" jdbcType="VARCHAR" />
    <result column="user_postal_address" property="userPostalAddress" jdbcType="VARCHAR" />
    <result column="user_bank_card_id" property="userBankCardId" jdbcType="VARCHAR" />
    <result column="user_postal_code" property="userPostalCode" jdbcType="VARCHAR" />
    <result column="user_family_phone" property="userFamilyPhone" jdbcType="VARCHAR" />
    <result column="user_contact_name" property="userContactName" jdbcType="VARCHAR" />
    <result column="user_contact_phone" property="userContactPhone" jdbcType="VARCHAR" />
    <result column="user_contact_identity" property="userContactIdentity" jdbcType="VARCHAR" />
    <result column="user_university" property="userUniversity" jdbcType="VARCHAR" />
    <result column="user_department" property="userDepartment" jdbcType="VARCHAR" />
    <result column="user_major" property="userMajor" jdbcType="VARCHAR" />
    <result column="user_education" property="userEducation" jdbcType="VARCHAR" />
    <result column="user_enrollment_year" property="userEnrollmentYear" jdbcType="INTEGER" />
    <result column="user_student_id" property="userStudentId" jdbcType="VARCHAR" />
    <result column="user_major_category" property="userMajorCategory" jdbcType="VARCHAR" />
    <result column="user_educational_system" property="userEducationalSystem" jdbcType="VARCHAR" />
    <result column="user_graduation_time" property="userGraduationTime" jdbcType="DATE" />
    <result column="user_loan_type" property="userLoanType" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="account_character_id" property="accountCharacterId" jdbcType="INTEGER" />
    <result column="funding_center_id" property="fundingCenterId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="user_permanent_address" property="userPermanentAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    guardian_id, guardian_name, guardian_identity, guardian_postal_code, guardian_health, 
    guardian_tel, province_id, city_id, area_id, guardian_permanent_address,user_identity
  </sql>
  <select id="selectByUserIdentity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guardian
    where user_identity = #{userIdentity,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guardian
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.Guardian">
    insert into guardian (guardian_name, guardian_identity,
      guardian_postal_code, guardian_health, guardian_tel, 
      province_id, city_id, area_id, guardian_permanent_address,user_identity)
    values (#{guardianName,jdbcType=VARCHAR}, #{guardianIdentity,jdbcType=VARCHAR},
      #{guardianPostalCode,jdbcType=VARCHAR}, #{guardianHealth,jdbcType=VARCHAR}, #{guardianTel,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{guardianPermanentAddress,jdbcType=VARCHAR},#{userIdentity,jdbcType=VARCHAR})
  </insert>

  <update id="updateGuardian" parameterType="com.stu.entity.Guardian" >
    update guardian
    set guardian_name = #{guardianName,jdbcType=VARCHAR},
      guardian_identity = #{guardianIdentity,jdbcType=VARCHAR},
      guardian_postal_code = #{guardianPostalCode,jdbcType=VARCHAR},
      guardian_health = #{guardianHealth,jdbcType=VARCHAR},
      guardian_tel = #{guardianTel,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      guardian_permanent_address = #{guardianPermanentAddress,jdbcType=VARCHAR}
    where user_identity = #{userIdentity,jdbcType=VARCHAR}
  </update>
</mapper>