<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.GuardianMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.Guardian" >
    <id column="guardian_id" property="guardianId" jdbcType="INTEGER" />
    <result column="guardian_name" property="guardianName" jdbcType="VARCHAR" />
    <result column="guardian_identity" property="guardianIdentity" jdbcType="VARCHAR" />
    <result column="guardian_address" property="guardianAddress" jdbcType="VARCHAR" />
    <result column="guardian_family_address" property="guardianFamilyAddress" jdbcType="VARCHAR" />
    <result column="guardian_postal_code" property="guardianPostalCode" jdbcType="VARCHAR" />
    <result column="guardian_family_phone" property="guardianFamilyPhone" jdbcType="VARCHAR" />
    <result column="guardian_health" property="guardianHealth" jdbcType="VARCHAR" />
    <result column="guardian_tel" property="guardianTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    guardian_id, guardian_name, guardian_identity, guardian_address, guardian_family_address, 
    guardian_postal_code, guardian_family_phone, guardian_health, guardian_tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guardian
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guardian
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.Guardian" >
    insert into guardian (guardian_id, guardian_name, guardian_identity, 
      guardian_address, guardian_family_address, 
      guardian_postal_code, guardian_family_phone, 
      guardian_health, guardian_tel)
    values (#{guardianId,jdbcType=INTEGER}, #{guardianName,jdbcType=VARCHAR}, #{guardianIdentity,jdbcType=VARCHAR}, 
      #{guardianAddress,jdbcType=VARCHAR}, #{guardianFamilyAddress,jdbcType=VARCHAR}, 
      #{guardianPostalCode,jdbcType=VARCHAR}, #{guardianFamilyPhone,jdbcType=VARCHAR}, 
      #{guardianHealth,jdbcType=VARCHAR}, #{guardianTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.entity.Guardian" >
    insert into guardian
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guardianId != null" >
        guardian_id,
      </if>
      <if test="guardianName != null" >
        guardian_name,
      </if>
      <if test="guardianIdentity != null" >
        guardian_identity,
      </if>
      <if test="guardianAddress != null" >
        guardian_address,
      </if>
      <if test="guardianFamilyAddress != null" >
        guardian_family_address,
      </if>
      <if test="guardianPostalCode != null" >
        guardian_postal_code,
      </if>
      <if test="guardianFamilyPhone != null" >
        guardian_family_phone,
      </if>
      <if test="guardianHealth != null" >
        guardian_health,
      </if>
      <if test="guardianTel != null" >
        guardian_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guardianId != null" >
        #{guardianId,jdbcType=INTEGER},
      </if>
      <if test="guardianName != null" >
        #{guardianName,jdbcType=VARCHAR},
      </if>
      <if test="guardianIdentity != null" >
        #{guardianIdentity,jdbcType=VARCHAR},
      </if>
      <if test="guardianAddress != null" >
        #{guardianAddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianFamilyAddress != null" >
        #{guardianFamilyAddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianPostalCode != null" >
        #{guardianPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="guardianFamilyPhone != null" >
        #{guardianFamilyPhone,jdbcType=VARCHAR},
      </if>
      <if test="guardianHealth != null" >
        #{guardianHealth,jdbcType=VARCHAR},
      </if>
      <if test="guardianTel != null" >
        #{guardianTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.entity.Guardian" >
    update guardian
    <set >
      <if test="guardianName != null" >
        guardian_name = #{guardianName,jdbcType=VARCHAR},
      </if>
      <if test="guardianIdentity != null" >
        guardian_identity = #{guardianIdentity,jdbcType=VARCHAR},
      </if>
      <if test="guardianAddress != null" >
        guardian_address = #{guardianAddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianFamilyAddress != null" >
        guardian_family_address = #{guardianFamilyAddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianPostalCode != null" >
        guardian_postal_code = #{guardianPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="guardianFamilyPhone != null" >
        guardian_family_phone = #{guardianFamilyPhone,jdbcType=VARCHAR},
      </if>
      <if test="guardianHealth != null" >
        guardian_health = #{guardianHealth,jdbcType=VARCHAR},
      </if>
      <if test="guardianTel != null" >
        guardian_tel = #{guardianTel,jdbcType=VARCHAR},
      </if>
    </set>
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.entity.Guardian" >
    update guardian
    set guardian_name = #{guardianName,jdbcType=VARCHAR},
      guardian_identity = #{guardianIdentity,jdbcType=VARCHAR},
      guardian_address = #{guardianAddress,jdbcType=VARCHAR},
      guardian_family_address = #{guardianFamilyAddress,jdbcType=VARCHAR},
      guardian_postal_code = #{guardianPostalCode,jdbcType=VARCHAR},
      guardian_family_phone = #{guardianFamilyPhone,jdbcType=VARCHAR},
      guardian_health = #{guardianHealth,jdbcType=VARCHAR},
      guardian_tel = #{guardianTel,jdbcType=VARCHAR}
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </update>
</mapper>