<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.GuardianMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.Guardian" >
    <id column="guardian_id" property="guardianId" jdbcType="INTEGER" />
    <result column="guardian_name" property="guardianName" jdbcType="VARCHAR" />
    <result column="guardian_identity" property="guardianIdentity" jdbcType="VARCHAR" />
    <result column="guardian_postal_code" property="guardianPostalCode" jdbcType="VARCHAR" />
    <result column="guardian_health" property="guardianHealth" jdbcType="VARCHAR" />
    <result column="guardian_tel" property="guardianTel" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="guardian_permanent_address" property="guardianPermanentAddress" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="UsersResultMap" type="com.stu.entity.Users">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_identity" jdbcType="VARCHAR" property="userIdentity" />
    <result column="user_security_question" jdbcType="VARCHAR" property="userSecurityQuestion" />
    <result column="user_security_answer" jdbcType="VARCHAR" property="userSecurityAnswer" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_famous_race_id" jdbcType="INTEGER" property="userFamousRaceId" />
    <result column="user_middle_school" jdbcType="VARCHAR" property="userMiddleSchool" />
    <result column="user_mail_box" jdbcType="VARCHAR" property=" userMailBox" />
    <result column="user_qq" jdbcType="VARCHAR" property="userQq" />
    <result column="user_weChat" jdbcType="VARCHAR" property="userWechat" />
    <result column="user_postal_address" jdbcType="VARCHAR" property=" userPostalAddress" />
    <result column="user_postal_code" jdbcType="VARCHAR" property="userPostalCode" />
    <result column="user_family_phone" jdbcType="VARCHAR" property="userFamilyPhone" />
    <result column="user_contact_name" jdbcType="VARCHAR" property="userContactName" />
    <result column="user_contact_phone" jdbcType="VARCHAR" property="userContactPhone" />
    <result column="user_contact_identity" jdbcType="VARCHAR" property="userContactIdentity" />
    <result column="user_university" jdbcType="VARCHAR" property="userUniversity" />
    <result column="user_department" jdbcType="VARCHAR" property="userDepartment" />
    <result column="user_major" jdbcType="VARCHAR" property="userMajor" />
    <result column="user_education" jdbcType="VARCHAR" property="userEducation" />
    <result column="user_enrollment_year" jdbcType="INTEGER" property="userEnrollmentYear" />
    <result column="user_student_id" jdbcType="VARCHAR" property="userStudentId" />
    <result column="user_major_category" jdbcType="VARCHAR" property="userMajorCategory" />
    <result column="user_educational_system" jdbcType="VARCHAR" property=" userEducationalSystem" />
    <result column="user_graduation_time" jdbcType="DATE" property="userGraduationTime" />
    <result column="user_loan_type" jdbcType="VARCHAR" property="userLoanType" />
    <result column="guardian_id" jdbcType="INTEGER" property="guardianId" />
    <result column="account_character_id" jdbcType="INTEGER" property="accountCharacterId" />
    <result column="funding_center_id" jdbcType="INTEGER" property="fundingCenterId" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="user_permanent_address" jdbcType="VARCHAR" property="userPermanentAddress" />
  </resultMap>
  <sql id="Base_Column_List" >
    guardian_id, guardian_name, guardian_identity, guardian_postal_code, guardian_health, 
    guardian_tel, province_id, city_id, area_id, guardian_permanent_address
  </sql>
  <select id="selectByUserIdentity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guardian
    where guardian_id = (select guardian_id from users where user_identity = #{userIdentity,jdbcType=VARCHAR})
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guardian
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.Guardian" useGeneratedKeys="false" keyProperty="guardianId">
    insert into guardian (guardian_name, guardian_identity,
      guardian_postal_code, guardian_health, guardian_tel, 
      province_id, city_id, area_id, 
      guardian_permanent_address)
    values (#{guardianName,jdbcType=VARCHAR}, #{guardianIdentity,jdbcType=VARCHAR},
      #{guardianPostalCode,jdbcType=VARCHAR}, #{guardianHealth,jdbcType=VARCHAR}, #{guardianTel,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{guardianPermanentAddress,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.stu.entity.Guardian" >
    update guardian
    set guardian_name = #{guardianName,jdbcType=VARCHAR},
      guardian_identity = #{guardianIdentity,jdbcType=VARCHAR},
      guardian_postal_code = #{guardianPostalCode,jdbcType=VARCHAR},
      guardian_health = #{guardianHealth,jdbcType=VARCHAR},
      guardian_tel = #{guardianTel,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      guardian_permanent_address = #{guardianPermanentAddress,jdbcType=VARCHAR}
    where guardian_id = #{guardianId,jdbcType=INTEGER}
  </update>
</mapper>