<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.LoanLogMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.LoanLog" >
    <id column="loan_log_id" property="loanLogId" jdbcType="INTEGER" />
    <result column="loan_contact_id" property="loanContactId" jdbcType="VARCHAR" />
    <result column="loan_user_identity" property="loanUserIdentity" jdbcType="VARCHAR" />
    <result column="loan_money" property="loanMoney" jdbcType="DOUBLE" />
    <result column="loan_type" property="loanType" jdbcType="VARCHAR" />
    <result column="loan_log_date" property="loanLogDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    loan_log_id, loan_contact_id, loan_user_identity, loan_money, loan_type, loan_log_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from loanLog
    where loan_log_id = #{loanLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from loanLog
    where loan_log_id = #{loanLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.LoanLog" >
    insert into loanLog (loan_log_id, loan_contact_id, loan_user_identity, 
      loan_money, loan_type, loan_log_date
      )
    values (#{loanLogId,jdbcType=INTEGER}, #{loanContactId,jdbcType=VARCHAR}, #{loanUserIdentity,jdbcType=VARCHAR}, 
      #{loanMoney,jdbcType=DOUBLE}, #{loanType,jdbcType=VARCHAR}, #{loanLogDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stu.entity.LoanLog" >
    insert into loanLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanLogId != null" >
        loan_log_id,
      </if>
      <if test="loanContactId != null" >
        loan_contact_id,
      </if>
      <if test="loanUserIdentity != null" >
        loan_user_identity,
      </if>
      <if test="loanMoney != null" >
        loan_money,
      </if>
      <if test="loanType != null" >
        loan_type,
      </if>
      <if test="loanLogDate != null" >
        loan_log_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanLogId != null" >
        #{loanLogId,jdbcType=INTEGER},
      </if>
      <if test="loanContactId != null" >
        #{loanContactId,jdbcType=VARCHAR},
      </if>
      <if test="loanUserIdentity != null" >
        #{loanUserIdentity,jdbcType=VARCHAR},
      </if>
      <if test="loanMoney != null" >
        #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanType != null" >
        #{loanType,jdbcType=VARCHAR},
      </if>
      <if test="loanLogDate != null" >
        #{loanLogDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.entity.LoanLog" >
    update loanLog
    <set >
      <if test="loanContactId != null" >
        loan_contact_id = #{loanContactId,jdbcType=VARCHAR},
      </if>
      <if test="loanUserIdentity != null" >
        loan_user_identity = #{loanUserIdentity,jdbcType=VARCHAR},
      </if>
      <if test="loanMoney != null" >
        loan_money = #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanType != null" >
        loan_type = #{loanType,jdbcType=VARCHAR},
      </if>
      <if test="loanLogDate != null" >
        loan_log_date = #{loanLogDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where loan_log_id = #{loanLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.entity.LoanLog" >
    update loanLog
    set loan_contact_id = #{loanContactId,jdbcType=VARCHAR},
      loan_user_identity = #{loanUserIdentity,jdbcType=VARCHAR},
      loan_money = #{loanMoney,jdbcType=DOUBLE},
      loan_type = #{loanType,jdbcType=VARCHAR},
      loan_log_date = #{loanLogDate,jdbcType=TIMESTAMP}
    where loan_log_id = #{loanLogId,jdbcType=INTEGER}
  </update>
</mapper>