<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.Users" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_identity" property="userIdentity" jdbcType="VARCHAR" />
    <result column="user_security_question" property="userSecurityQuestion" jdbcType="VARCHAR" />
    <result column="user_security_answer" property="userSecurityAnswer" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_famous_race_id" property="userFamousRaceId" jdbcType="INTEGER" />
    <result column="user_middle_school" property="userMiddleSchool" jdbcType="VARCHAR" />
    <result column="user_mail_box" property="userMailBox" jdbcType="VARCHAR" />
    <result column="user_qq" property="userQq" jdbcType="VARCHAR" />
    <result column="user_weChat" property="userWechat" jdbcType="VARCHAR" />
    <result column="user_postal_address" property="userPostalAddress" jdbcType="VARCHAR" />
    <result column="user_bank_card_id" property="userBankCardId" jdbcType="VARCHAR" />
    <result column="user_postal_code" property="userPostalCode" jdbcType="VARCHAR" />
    <result column="user_family_phone" property="userFamilyPhone" jdbcType="VARCHAR" />
    <result column="user_contact_name" property="userContactName" jdbcType="VARCHAR" />
    <result column="user_contact_phone" property="userContactPhone" jdbcType="VARCHAR" />
    <result column="user_contact_identity" property="userContactIdentity" jdbcType="VARCHAR" />
    <result column="user_university" property="userUniversity" jdbcType="VARCHAR" />
    <result column="user_department" property="userDepartment" jdbcType="VARCHAR" />
    <result column="user_major" property="userMajor" jdbcType="VARCHAR" />
    <result column="user_education" property="userEducation" jdbcType="VARCHAR" />
    <result column="user_enrollment_year" property="userEnrollmentYear" jdbcType="INTEGER" />
    <result column="user_student_id" property="userStudentId" jdbcType="VARCHAR" />
    <result column="user_major_category" property="userMajorCategory" jdbcType="VARCHAR" />
    <result column="user_educational_system" property="userEducationalSystem" jdbcType="VARCHAR" />
    <result column="user_graduation_time" property="userGraduationTime" jdbcType="DATE" />
    <result column="user_loan_type" property="userLoanType" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="account_character_id" property="accountCharacterId" jdbcType="INTEGER" />
    <result column="funding_center_id" property="fundingCenterId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="user_permanent_address" property="userPermanentAddress" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="BaseUserLoginMap" type="com.stu.entity.UserLogin" >
        <id column="user_login_id" property="userLoginId" jdbcType="INTEGER" />
        <result column="user_login_account" property="userLoginAccount" jdbcType="VARCHAR" />
        <result column="user_login_password" property="userLoginPassword" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_identity, user_security_question, user_security_answer, 
    user_phone, user_sex, user_birthday, user_famous_race_id, user_middle_school, user_mail_box,
    user_qq, user_weChat, user_postal_address, user_bank_card_id, user_postal_code,
    user_family_phone, user_contact_name, user_contact_phone, user_contact_identity, 
    user_university, user_department, user_major, user_education, user_enrollment_year, 
    user_student_id, user_major_category, user_educational_system, user_graduation_time,
    user_loan_type, guardian_id, relation, account_character_id, funding_center_id, area_id, user_permanent_address
  </sql>
    <!--//////////////////////////////////// 查询操作 //////////////////////////////////////-->
    <select id="selectUserByIdentity" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from users
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </select>
    <!--根据手机号码查询用户账号-->
    <select id="selectUserLoginByPhone" resultMap="BaseUserLoginMap" parameterType="java.lang.String">
        select * from userLogin
        where user_id = (select user_id from users where user_phone=#{userPhone,jdbcType=VARCHAR})
    </select>

    <!--/////////////////////////////////// 删除操作 /////////////////////////////////////-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

    <!--///////////////////////////////// 用户注册 ///////////////////////////////////////-->
    <insert id="registerUsers" parameterType="com.stu.entity.Users" useGeneratedKeys="true" keyProperty="userId">

    insert into users (user_name, user_identity,
      user_security_question, user_security_answer,
      user_phone)
    values (#{userName,jdbcType=VARCHAR}, #{userIdentity,jdbcType=VARCHAR},
      #{userSecurityQuestion,jdbcType=VARCHAR}, #{userSecurityAnswer,jdbcType=VARCHAR},
      #{userPhone,jdbcType=VARCHAR})
  </insert>


    <update id="updateUserByIdentity" parameterType="com.stu.entity.Users">
    update users
    set
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_middle_school = #{userMiddleSchool,jdbcType=VARCHAR},
      user_mail_box = #{userMailBox,jdbcType=VARCHAR},
      user_qq = #{userQq,jdbcType=VARCHAR},
      user_weChat = #{userWechat,jdbcType=VARCHAR},
      user_postal_address = #{userPostalAddress,jdbcType=VARCHAR},
      user_postal_code = #{userPostalCode,jdbcType=VARCHAR},
      user_family_phone = #{userFamilyPhone,jdbcType=VARCHAR},
      user_contact_name = #{userContactName,jdbcType=VARCHAR},
      user_contact_phone = #{userContactPhone,jdbcType=VARCHAR},
      user_contact_identity = #{userContactIdentity,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=VARCHAR},
      user_major = #{userMajor,jdbcType=VARCHAR},
      user_student_id = #{userStudentId,jdbcType=VARCHAR},
      user_major_category = #{userMajorCategory,jdbcType=VARCHAR}
    where user_identity = #{userIdentity,jdbcType=VARCHAR}
  </update>
    <update id="updateSecurityQuestion" parameterType="com.stu.entity.Users">
        update users
        set user_security_question = #{userSecurityQuestion,jdbcType=VARCHAR},
        user_security_answer = #{userSecurityAnswer,jdbcType=VARCHAR}
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </update>
    <update id="updateUserPhone" parameterType="com.stu.entity.Users">
        update users
        set user_phone = #{userPhone,jdbcType=VARCHAR}
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </update>


    <update id="improveUserInfo" parameterType="com.stu.entity.Users">
    update users
    set

      user_bank_card_id = #{userBankCardId,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_famous_race_id = #{userFamousRaceId,jdbcType=INTEGER},
      user_middle_school = #{userMiddleSchool,jdbcType=VARCHAR},
      user_mail_box = #{userMailBox,jdbcType=VARCHAR},
      user_qq = #{userQq,jdbcType=VARCHAR},
      user_weChat = #{userWechat,jdbcType=VARCHAR},
      user_postal_address = #{userPostalAddress,jdbcType=VARCHAR},
      user_postal_code = #{userPostalCode,jdbcType=VARCHAR},
      user_family_phone = #{userFamilyPhone,jdbcType=VARCHAR},
      user_contact_name = #{userContactName,jdbcType=VARCHAR},
      user_contact_phone = #{userContactPhone,jdbcType=VARCHAR},
      user_contact_identity = #{userContactIdentity,jdbcType=VARCHAR},
      user_university = #{userUniversity,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=VARCHAR},
      user_major = #{userMajor,jdbcType=VARCHAR},
      user_education = #{userEducation,jdbcType=VARCHAR},
      user_enrollment_year = #{userEnrollmentYear,jdbcType=INTEGER},
      user_student_id = #{userStudentId,jdbcType=VARCHAR},
      user_major_category = #{userMajorCategory,jdbcType=VARCHAR},
      user_educational_system = #{userEducationalSystem,jdbcType=VARCHAR},
      user_graduation_time = #{userGraduationTime,jdbcType=DATE},
      relation = #{relation,jdbcType=VARCHAR},
      account_character_id = #{accountCharacterId,jdbcType=INTEGER},
      funding_center_id = #{fundingCenterId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=VARCHAR},
      user_permanent_address = #{userPermanentAddress,jdbcType=VARCHAR}
    where user_identity = #{userIdentity,jdbcType=VARCHAR}
  </update>

    <update id="updateUserLoanType" parameterType="com.stu.entity.Users">
        update users
        set user_loan_type = #{userLoanType,jdbcType=VARCHAR}
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </update>
</mapper>