<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.stu.entity.Users">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_identity" jdbcType="VARCHAR" property="userIdentity" />
    <result column="user_security_question" jdbcType="VARCHAR" property="userSecurityQuestion" />
    <result column="user_security_answer" jdbcType="VARCHAR" property="userSecurityAnswer" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_famous_race_id" jdbcType="INTEGER" property="userFamousRaceId" />
    <result column="user_middle_school" jdbcType="VARCHAR" property="userMiddleSchool" />
    <result column="user_mail_box" jdbcType="VARCHAR" property=" userMailBox" />
    <result column="user_qq" jdbcType="VARCHAR" property="userQq" />
    <result column="user_weChat" jdbcType="VARCHAR" property="userWechat" />
    <result column="user_postal_address" jdbcType="VARCHAR" property=" userPostalAddress" />
    <result column="user_postal_code" jdbcType="VARCHAR" property="userPostalCode" />
    <result column="user_family_phone" jdbcType="VARCHAR" property="userFamilyPhone" />
    <result column="user_contact_name" jdbcType="VARCHAR" property="userContactName" />
    <result column="user_contact_phone" jdbcType="VARCHAR" property="userContactPhone" />
    <result column="user_contact_identity" jdbcType="VARCHAR" property="userContactIdentity" />
    <result column="user_university" jdbcType="VARCHAR" property="userUniversity" />
    <result column="user_department" jdbcType="VARCHAR" property="userDepartment" />
    <result column="user_major" jdbcType="VARCHAR" property="userMajor" />
    <result column="user_education" jdbcType="VARCHAR" property="userEducation" />
    <result column="user_enrollment_year" jdbcType="VARCHAR" property="userEnrollmentYear" />
    <result column="user_student_id" jdbcType="VARCHAR" property="userStudentId" />
    <result column="user_major_category" jdbcType="VARCHAR" property="userMajorCategory" />
    <result column="user_educational_system" jdbcType="VARCHAR" property=" userEducationalSystem" />
    <result column="user_graduation_time" jdbcType="DATE" property="userGraduationTime" />
    <result column="user_loan_type" jdbcType="VARCHAR" property="userLoanType" />
    <result column="loan_id" jdbcType="INTEGER" property="loanId" />
    <result column="guardian_id" jdbcType="INTEGER" property="guardianId" />
    <result column="account_character_id" jdbcType="INTEGER" property="accountCharacterId" />
    <result column="funding_center_id" jdbcType="INTEGER" property="fundingCenterId" />
    <result column="provence_id" jdbcType="VARCHAR" property="provenceId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="user_permanent_address" jdbcType="VARCHAR" property="userPermanentAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_identity, user_security_question, user_security_answer, 
    user_phone, user_sex, user_famous_race_id, user_middle_school, user_mail_box, user_qq,
    user_weChat, user_postal_address, user_postal_code, user_family_phone, user_contact_name,
    user_contact_phone, user_contact_identity, user_university, user_department, user_major, 
    user_education, user_enrollment_year, user_student_id, user_major_category, user_educational_system,
    user_graduation_time, user_loan_type, loan_id, guardian_id, account_character_id, 
    funding_center_id, provence_id, city_id, area_id, user_permanent_address
  </sql>
    <!--//////////////////////////////////// 查询操作 //////////////////////////////////////-->
    <select id="selectUserByIdentity" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from users
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </select>
    <!--根据手机号码查询用户账号-->
    <select id="selectUserLoginByPhone" resultMap="BaseUserLoginMap" parameterType="java.lang.String">
        select * from userLogin
        where user_id = (select user_id from users where user_phone=#{userPhone,jdbcType=VARCHAR})
    </select>

    <!--/////////////////////////////////// 删除操作 /////////////////////////////////////-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

    <!--///////////////////////////////// 用户注册 ///////////////////////////////////////-->
    <insert id="registerUsers" parameterType="com.stu.entity.Users" useGeneratedKeys="true" keyProperty="userId">

    insert into users (user_name, user_identity,
      user_security_question, user_security_answer,
      user_phone)
    values (#{userName,jdbcType=VARCHAR}, #{userIdentity,jdbcType=VARCHAR},
      #{userSecurityQuestion,jdbcType=VARCHAR}, #{userSecurityAnswer,jdbcType=VARCHAR},
      #{userPhone,jdbcType=VARCHAR})
  </insert>


    <update id="updateByPrimaryKey" parameterType="com.stu.entity.Users">
    update users
    set user_name = #{userName,jdbcType=VARCHAR},
      user_identity = #{userIdentity,jdbcType=VARCHAR},
      user_security_question = #{userSecurityQuestion,jdbcType=VARCHAR},
      user_security_answer = #{userSecurityAnswer,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_famous_race_id = #{userFamousRaceId,jdbcType=INTEGER},
      user_middle_school = #{userMiddleSchool,jdbcType=VARCHAR},
      user_mail_box = #{userMailBox,jdbcType=VARCHAR},
      user_qq = #{userQq,jdbcType=VARCHAR},
      user_weChat = #{userWechat,jdbcType=VARCHAR},
      user_postal_address = #{userPostalAddress,jdbcType=VARCHAR},
      user_postal_code = #{userPostalCode,jdbcType=VARCHAR},
      user_family_phone = #{userFamilyPhone,jdbcType=VARCHAR},
      user_contact_name = #{userContactName,jdbcType=VARCHAR},
      user_contact_phone = #{userContactPhone,jdbcType=VARCHAR},
      user_contact_identity = #{userContactIdentity,jdbcType=VARCHAR},
      user_university = #{userUniversity,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=VARCHAR},
      user_major = #{userMajor,jdbcType=VARCHAR},
      user_education = #{userEducation,jdbcType=VARCHAR},
      user_enrollment_year = #{userEnrollmentYear,jdbcType=VARCHAR},
      user_student_id = #{userStudentId,jdbcType=VARCHAR},
      user_major_category = #{userMajorCategory,jdbcType=VARCHAR},
      user_educational_system = #{userEducationalSystem,jdbcType=VARCHAR},
      user_graduation_time = #{userGraduationTime,jdbcType=DATE},
      user_loan_type = #{userLoanType,jdbcType=VARCHAR},
      loan_id = #{loanId,jdbcType=INTEGER},
      guardian_id = #{guardianId,jdbcType=INTEGER},
      account_character_id = #{accountCharacterId,jdbcType=INTEGER},
      funding_center_id = #{fundingCenterId,jdbcType=INTEGER},
      provence_id = #{provenceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      user_permanent_address = #{userPermanentAddress,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
    <update id="updateSecurityQuestion" parameterType="com.stu.entity.Users">
        update users
        set user_security_question = #{userSecurityQuestion,jdbcType=VARCHAR},
        user_security_answer = #{userSecurityAnswer,jdbcType=VARCHAR}
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </update>
    <update id="updateUserPhone" parameterType="com.stu.entity.Users">
        update users
        set user_phone = #{userPhone,jdbcType=VARCHAR}
        where user_identity = #{userIdentity,jdbcType=VARCHAR}
    </update>
</mapper>